<!-- <div class="row"> -->
<!--     <div class="col-md-3"> -->
<!--         <span class="hipster img-fluid img-rounded"></span> -->
<!--     </div> -->
<!--     <div class="col-md-9"> -->
<!--         <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1> -->
<!--         <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p> -->

<!--         <div [ngSwitch]="isAuthenticated()"> -->
<!--             <div class="alert alert-success" *ngSwitchCase="true"> -->
<!--                 <span *ngIf="account" jhiTranslate="home.logged.message" -->
<!--                     translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span> -->
<!--             </div> -->

<!--             <div class="alert alert-warning" *ngSwitchCase="false"> -->
<!--                 <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span> -->
<!--                 <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span> -->
<!--             </div> -->

<!--             <div class="alert alert-warning" *ngSwitchCase="false"> -->
<!--                 <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span> -->
<!--                 <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a> -->
<!--             </div> -->
<!--         </div> -->

<!--         <p jhiTranslate="home.question"> -->
<!--             If you have any question on JHipster: -->
<!--         </p> -->

<!--         <ul> -->
<!--             <li><a href="http://jhipster.github.io/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li> -->
<!--             <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li> -->
<!--             <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li> -->
<!--             <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li> -->
<!--             <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li> -->
<!--         </ul> -->

<!--         <p> -->
<!--             <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">Github</a>! -->
<!--         </p> -->
<!--     </div> -->
<!-- </div> -->

<div class="intro-header nohome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Realfriends</h1>
                        <h3>Une application au service des étudiants étrangers</h3>
                        <hr class="intro-divider">
			            <div [ngSwitch]="isAuthenticated()">
<!-- 				            <div class="alert alert-success" *ngSwitchCase="true"> -->
<!-- 				                <span *ngIf="account" jhiTranslate="home.logged.message" -->
<!-- 				                    translateValues="{username: '{{account.login}}'}"> -->
<!-- 				                     You are logged in as user "{{account.login}}". </span> -->
<!-- 				            </div> -->
				            <div class="" *ngSwitchCase="false">
				                <a href="#" class="btn btn-primary btn-lg active alert-link" id="rfLogin" role="button"
		                       	(click)="login()" jhiTranslate="global.messages.info.authenticated.link"
		                       	>Login</a>
								<a href="#" class="btn btn-primary btn-lg active alert-link" id="rfRegister" role="button"
								 routerLink="register" jhiTranslate="global.messages.info.register.link"
								>Register</a>
				            </div>
<!-- 				            <div class="alert alert-warning" *ngSwitchCase="false"> -->
<!-- 				                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span> -->
<!-- 				                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a> -->
<!-- 				            </div> -->
				        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <a  name="aboutUs"></a>
    <div class="content-section-a nohome">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" jhiTranslate="home.aboutUs.title">Qui sommes-nous ? </h2>
                    <p class="lead" jhiTranslate="home.aboutUs.message">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">
						RealFriends est une communauté basée sur l’entraide et la solidarité estudiantine. Son objectif majeur est de connecter tous les étudiants ayant des projets d’étude à l’étranger avec les associations et les étudiants qui s’y trouvent. Ensemble, nous partagerons nos expériences sociales et scolaires aux nouveaux arrivants 
						et nous les fournirons toutes les informations nécessaires et utiles avant et après leur séjour sur site.
					</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../../content/images/logoRF.gif" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <a  name="apprf"></a>
    <div class="content-section-b nohome">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" jhiTranslate="home.apprf.title">L’application RealFriends </h2>
                    <p class="lead" jhiTranslate="home.apprf.message">
							
							Cette application mobile sera un outil essentiellement dédié à l’intégration et à l’adaptation des étudiants étrangers. Elle offrira la possibilité aux étudiants et aux associations de créer des profils, ce qui permettra des échanges instantanés au sein de la communauté RealFriends.
							Comme services parmi autant d’autres, les nouveaux arrivants bénéficieront de l’expérience des étudiants déjà installés, les nouveaux étudiants seront aiguillés plus facilement au niveau des associations, les étudiants pourront bénéficier de notre réseau de particuliers et trouver assez rapidement un logement, l’outil en lui-même sera une source d’informations (démarches administratives, 
							cursus scolaire, opportunités d’emplois, actualité sur le marché du travail …).

                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
	               	<div class="embed-responsive embed-responsive-4by3">
		   				<iframe class="embed-responsive-item" 
		   					src="https://www.youtube.com/embed/gSJYIfWHTqs">
		   				</iframe>
	   				</div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <a name="commingsoon nohome"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" jhiTranslate="home.commingsoon.title">Bient&ocirc;t </h2>
                    <p class="lead" jhiTranslate="home.commingsoon.message">
                    Inscrivez – vous  pour ne pas rater la sortie de 
                    l’application RealFriends qui est actuellement en cours de développement 
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                   <div class="embed-responsive embed-responsive-4by3">
    				<iframe class="embed-responsive-item" 
    					src="https://www.youtube.com/embed/RPiZFCywbs0">
    				</iframe>
   				</div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
	<a  name="contact"></a>
    <div class="banner nohome">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 rel="noopener" jhiTranslate="home.link.follow">Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
